
build/
.gradle
.gradletasknamecache
.DS_Store
.*.swp
.~*
*.sublime-workspace
*.sublime-project
.~aim42-concepts-overview.vue
*.iml
*.ipr
.idea
Improvement-Practices-Overview (Automatisch gesichert).mmap
~$Improvement-Practices-Overview.mmap.~$lock
.settings
.project
