guide/build/
.gradle
.gradletasknamecache
.DS_Store
.*.swp
guide/src/aim42.sublime-workspace
guide/src/aim42.sublime-project
.~*
guide/src/asciidoc/aim42.sublime-workspace
guide/src/asciidoc/aim42.sublime-project
aim42.sublime-workspace
.~aim42-concepts-overview.vue
