<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>161.6.0.234333</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>b</key>
				<string>0.25098</string>
				<key>g</key>
				<string>0</string>
				<key>r</key>
				<string>0.501961</string>
			</dict>
			<key>Font</key>
			<string>LucidaGrande-Bold</string>
			<key>NSKern</key>
			<real>0.0</real>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-08-13 17:27:17 +0000</string>
	<key>Creator</key>
	<string>Dr. Gernot Starke</string>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>1F6D7296-EA43-4C41-BAAB-7768856B8A6B-5758-00003273F134D8AA</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.38865143398773228, -0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.38874041078411259, -0.037288363996156759}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.50000000000000022, -0.03730998979502087}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.33595992392827201, 0.10773846122049258}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.17185306931414024, -0.037246207072373139}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.28311265853002787, -0.03726783287123725}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.28302367700646802, -0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.41699327598934666, -0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.41699327598934666, 0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.033581265082996747, 0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.033581265082996747, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.48910473201616167}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.4237331241131308}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.41699327598934666, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.38935775725699773, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.38935775725699773, -0.42373312411313102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.38865143398773228, -0.42373312411313102}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>combined</key>
			<dict>
				<key>Bounds</key>
				<string>{{142.87816770133801, 69.99416437771184}, {94.871832298661985, 103.25583562228816}}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>ShapeName</key>
						<string>Rectangle</string>
						<key>graphic</key>
						<dict>
							<key>Bounds</key>
							<string>{{193.5, 165.375}, {44.25, 7.875}}</string>
						</dict>
					</dict>
					<dict>
						<key>ShapeName</key>
						<string>Rectangle</string>
						<key>graphic</key>
						<dict>
							<key>Bounds</key>
							<string>{{182.74708218885593, 117.12208218885591}, {102.13083562228815, 7.875}}</string>
							<key>Rotation</key>
							<real>90</real>
						</dict>
					</dict>
					<dict>
						<key>ShapeName</key>
						<string>Rectangle</string>
						<key>graphic</key>
						<dict>
							<key>Bounds</key>
							<string>{{153.375, 69.99416437771184}, {84.375, 7.875}}</string>
						</dict>
					</dict>
					<dict>
						<key>ShapeName</key>
						<string>AdjustableArrow</string>
						<key>data</key>
						<dict>
							<key>ratio</key>
							<real>0.32189163565635681</real>
							<key>width</key>
							<real>14.973806381225586</real>
						</dict>
						<key>graphic</key>
						<dict>
							<key>Bounds</key>
							<string>{{127.07296203116059, 85.806131551868148}, {62.7492510880776, 31.131901273975558}}</string>
							<key>Rotation</key>
							<real>90.012120893923736</real>
						</dict>
					</dict>
				</array>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
	<key>FileType</key>
	<string>auto</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{231.5871675602985, 229}, {71, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>4127</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red25\green70\blue148;}
\deftab720
\pard\pardeftab720\qc

\f0\fs22 \cf0 improve &amp; 
\fs26 \

\fs32 \cf2 innovate}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{197.99972475204589, 215.06994894309747}, {138.17488561650521, 27.345064788344388}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>27</integer>
			<key>Rotation</key>
			<real>359.83826639566473</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.32189163565635681</real>
				<key>width</key>
				<real>14.973806381225586</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.325965</string>
						<key>g</key>
						<string>0.57844</string>
						<key>r</key>
						<string>0.706528</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>356</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.830295</string>
						<key>g</key>
						<string>0.56923</string>
						<key>r</key>
						<string>0.166423</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.46831208467483521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{97.3125, 49.5}, {63, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>4125</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red0\green64\blue128;}
\deftab720
\pard\pardeftab720\qc

\f0\fs22 \cf0 improve &amp; \

\fs32 \cf2 keep}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{144, 76.5}, {95.621832298661957, 93.693335622288146}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4124</integer>
			<key>Shape</key>
			<string>1F6D7296-EA43-4C41-BAAB-7768856B8A6B-5758-00003273F134D8AA</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.830295</string>
						<key>g</key>
						<string>0.56923</string>
						<key>r</key>
						<string>0.166423</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>56</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.62541657686233521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{162, 246.87938399266716}, {17.076593413015775, 19.241232014665663}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4112</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{38.25, 130.25}, {157.5, 155.25}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaHandwriting-Italic</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>4111</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 0.5}</string>
				<string>{0, -0.5}</string>
				<string>{-0.5, 0}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.455982, -0.44999899999999998}</string>
					<string>{-0.39729100000000001, -0.56250100000000003}</string>
					<string>{0.42436800000000002, -0.44999899999999998}</string>
					<string>{0.48305799999999999, -0.44999899999999998}</string>
					<string>{0.54174800000000001, -0.45000099999999998}</string>
					<string>{0.42436699999999999, 0.337501}</string>
					<string>{0.48305799999999999, 0.45000099999999998}</string>
					<string>{0.54174500000000003, 0.56249899999999997}</string>
					<string>{-0.39729199999999998, 0.45000400000000002}</string>
					<string>{-0.455982, 0.45000099999999998}</string>
					<string>{-0.51467099999999999, 0.44999800000000001}</string>
					<string>{-0.51467399999999996, -0.33749600000000002}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.384314</string>
						<key>g</key>
						<string>0.615686</string>
						<key>r</key>
						<string>0.945098</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.384314</string>
						<key>g</key>
						<string>0.615686</string>
						<key>r</key>
						<string>0.945098</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>8</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 LucidaHandwriting-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs26 \cf0 Flawed System,\
Old Technology}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{433.125, 266.625}, {19.852067037597404, 17.866860333837664}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4040</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{339.4251877127009, 186.60769951388892}, {122.04632157623092, 108.00701719532492}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.501961</string>
					<key>g</key>
					<string>0.25098</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>17</real>
			</dict>
			<key>ID</key>
			<integer>4036</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 0.5}</string>
				<string>{0, -0.5}</string>
				<string>{-0.5, 0}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.46441198399960326, -0.451057257682143}</string>
					<string>{-0.42666872567962555, -0.56117842789732109}</string>
					<string>{0.37953766290282287, -0.451057257682143}</string>
					<string>{0.43580097269631946, -0.451057257682143}</string>
					<string>{0.49206428248981471, -0.45105927838418269}</string>
					<string>{0.54650843745423794, 0.36433667966282757}</string>
					<string>{0.43580097269631946, 0.45825866039740193}</string>
					<string>{0.32509502119161748, 0.55217515895837543}</string>
					<string>{-0.40814867420610579, 0.45826169145046158}</string>
					<string>{-0.46441198399960326, 0.45825866039740193}</string>
					<string>{-0.52067433514069172, 0.45825562934433872}</string>
					<string>{-0.50215598948056739, -0.34093504284870502}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.48</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.797685</string>
						<key>r</key>
						<string>0.601554</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.52</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.797685</string>
						<key>r</key>
						<string>0.601554</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>8</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 Futura-Medium;}
{\colortbl;\red255\green255\blue255;\red0\green64\blue128;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf2 Same\
Capabilities}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{339.36846815774521, 134.89557028813152}, {164.65967584782413, 161.26142336634527}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Clip</string>
			<key>Flow</key>
			<string>Clip</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.4</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>0.8</string>
				</dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>4126</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 0.5}</string>
				<string>{0, -0.5}</string>
				<string>{-0.5, 0}</string>
				<string>{0.5, 0}</string>
			</array>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.43277630491338615, -0.45051866996273982}</string>
					<string>{-0.37383033605352844, -0.56235866553333569}</string>
					<string>{0.42403919604001539, -0.44964564460080803}</string>
					<string>{0.48298416055561288, -0.44964564460080803}</string>
					<string>{0.54192912507121216, -0.44964763283204978}</string>
					<string>{0.42403819169575607, 0.33322040677466913}</string>
					<string>{0.48298416055561288, 0.44505841411402347}</string>
					<string>{0.54192611203843555, 0.55689443322213639}</string>
					<string>{-0.41140884665814426, 0.46337305851779131}</string>
					<string>{-0.47035381117374397, 0.46337007617092896}</string>
					<string>{-0.52929777134508482, 0.46336709382406682}</string>
					<string>{-0.49172327811750138, -0.33867768027652367}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.839216</string>
						<key>g</key>
						<string>0.584314</string>
						<key>r</key>
						<string>0.223529</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.50946044921875</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>8</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 Futura-Medium;}
{\colortbl;\red255\green255\blue255;\red204\green255\blue102;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf2 Enhanced\
Capabilities}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-05-30 08:46:47 +0000</string>
	<key>Modifier</key>
	<string>Dr. Gernot Starke</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Approaches</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>7</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{4, 0}, {1436, 877}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>0</integer>
		<key>TopSlabHeight</key>
		<real>371</real>
		<key>VisibleRegion</key>
		<string>{{31, 41}, {561.5, 366}}</string>
		<key>Zoom</key>
		<real>2</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Approaches</string>
				<real>2</real>
				<real>4</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
